.Button {
    background-color: transparent;
    width: 150px;
    border: 1px solid #282c34;
    color: white;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 10px;
    margin: 10px;
    font-weight: bold;

}

.Button:disabled {
    color: #7E7365;
    cursor: not-allowed;
}

.Button:first-of-type {
    margin-left: 0;
    padding-left: 0;
}

.Success {
    color: #5C9210;
}

.Danger {
    color: #944317;
}